<div
  class="w-auto mb-7 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="p-4 w-full bg-white rounded-lg md:p-8 dark:bg-gray-800">
    <h2
      class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
    >
      {{ post.title }}
    </h2>
    <p
      class="inline-flex mb-3 mt-2 items-center text-base font-semibold text-gray-900 dark:text-white"
    >
      {{ post.body }}
    </p>
    <hr />
    <h5
      class="text-xl my-4 font-bold leading-none text-gray-900 dark:text-white"
    >
      Comentarios
    </h5>

    <div class="w-full max-h-80 overflow-y-auto">
      <div class="flex flex-wrap gap-4">
        <app-card-comentary
          *ngFor="let comentary of comentaries"
          [comentary]="comentary"
        ></app-card-comentary>
      </div>
    </div>
  </div>
</div>
