<div
  class="w-full my-4 max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flow-root">
    <div class="flex items-center space-x-4">
      <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
          {{ comentary.name }}
        </p>
        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
          {{ comentary.email }}
        </p>
      </div>
    </div>
    <hr />
    <div class="text-gray-500 my-3 dark:text-gray-400">
      {{ comentary.body }}
    </div>
  </div>
</div>
