<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">Celular</th>
        <th scope="col" class="px-6 py-3">Correo</th>
        <th scope="col" class="px-6 py-3">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
        *ngFor="let user of users"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ user.id }}
        </th>
        <td class="px-6 py-4">{{ user.name }}</td>
        <td class="px-6 py-4">{{ user.phone }}</td>
        <td class="px-6 py-4">{{ user.email }}</td>
        <td class="px-6 py-4">
          <a
            [routerLink]="['usuario/info/', user.id]"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Ver detalle</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
